body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1139px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:398px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:26px;
  width:649px;
  height:398px;
}
#u2398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:60px;
  width:106px;
  height:44px;
}
#u2400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:61px;
  width:102px;
  height:41px;
}
#u2401_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:59px;
  width:232px;
  height:43px;
}
#u2403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:60px;
  width:223px;
  height:40px;
}
#u2404_input {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:61px;
  width:43px;
  height:43px;
}
#u2405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:347px;
  width:140px;
  height:40px;
}
#u2406_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:58px;
  width:106px;
  height:44px;
}
#u2408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:59px;
  width:102px;
  height:41px;
}
#u2409_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:161px;
  width:261px;
  height:20px;
  color:#FF0000;
}
#u2410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u2411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:204px;
  width:450px;
  height:20px;
  color:#FF0000;
}
#u2411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  white-space:nowrap;
}
#u2412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:245px;
  width:471px;
  height:20px;
  color:#FF0000;
}
#u2412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  white-space:nowrap;
}
#u2413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:147px;
  width:401px;
  height:20px;
  color:#FF0000;
}
#u2413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
}
#u2414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:61px;
  width:43px;
  height:43px;
}
#u2414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
